.container-fluid {
  background-image: url("cinema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 200px;
  margin-bottom: 50px;
  h2 {
    text-align: center;
    color: white;
  }
}
